<div class="solucaoPortifa">
    <div class="container">
        <h2 class="grid-1">Solução</h2>
        <p class="grid-1">{$solucao}</p>
        <div class="grid-1 imgGrande">
            <img src="{#ROUTE_WEBSITE#}/img/portfolio/{$image1}" alt="">
        </div>
        <div class="grid-1 imgPequena">
            <div class="img">
                <img src="{#ROUTE_WEBSITE#}/img/portfolio/{$image2}" alt="">
            </div>
            <div class="img">
                <img src="{#ROUTE_WEBSITE#}/img/portfolio/{$image3}" alt="">
            </div>
        </div>
        <h2 class="grid-1">Resultado</h2>
        <p class="grid-1">{$resultado}</p>
    </div>
</div>