<div class="iconList">
    <div class="container">
        <ul>
            <li class="grid-4 iconText">
                <div class="img">
                    {include="pen-tool"}
                </div>
                <h3>Plataforma focada para Designers</h3>
            </li>
            <li class="grid-4 iconText">
                <div class="img">
                    {include="dollar-sign"}
                </div>
                <h3>Cadastre-se em vagas gratuitamente</h3>
            </li>
            <li class="grid-4 iconText">
                <div class="img">
                    {include="share-2"}
                </div>
                <h3>Divulgue suas redes sociais e sites para os recrutadores</h3>
            </li>
        </ul>
    </div>
</div>