<div class="solucoes">
    <div class="extracontainer">
        <div class="container">
            <div class="grid-1">
                <h3>Todos os nossos projetos</h3>
            </div>
            <div class="grid-1 listSolucao">
                <p>Clique nos projetos para conhecer um pouco sobre o processo de criação de cada um deles.</p>
            </div>
            <div class="listAllProjects">
                <ul>
                    {loop="$projects"}
                        <li class="grid-1"><a href="{#ROUTE#}/projeto/{$value.link}">{$value.name}</a></li>
                    {/loop}
                </ul>
            </div>
            <div class="grid-2">
                <h2>Nossos parceiros</h2>
            </div>
            <ul class="logos">
                <li>
                    <a href="https://ilustraviz.com" target="_blank">{include="logoIlustraviz"}</a>
                </li>
            </ul>
        </div>
    </div>
    <button href="" class="button1" onclick="vm_newProjectForm.open()">Iniciar projeto</button>
</div>