<footer class="footer1">
    <div class="extracontainer">
        <div class="container">
            <ul class="socialMedia">
                <li>
                    <a href="https://www.instagram.com/prismacodeoficial/" target="_blank">{include="instagran"}</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/PrismacodeOficial/" target="_blank">{include="facebook"}</a>
                </li>
            </ul>
            <p>contato@prismacode.com</p>
        </div>
    </div>
</footer>

</body>
</html>