<footer class="footer1">
    <div class="extracontainer">
        <div class="container">
            <ul class="socialMedia">
                <li>
                    <a href="{$contato->getContent('instagram')}" target="_blank">{include="instagran"}</a>
                </li>
                <li>
                    <a href="{$contato->getContent('facebook')}" target="_blank">{include="facebook"}</a>
                </li>
            </ul>
            <p>{$contato->getContent('email')}</p>
        </div>
    </div>
</footer>

</body>
</html>