<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato|Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{#ROUTE_WEBSITE#}/css/style.css">
    <script src="{#ROUTE_WEBSITE#}/js/plugins/vue.js"></script>
    <script src="{#ROUTE_WEBSITE#}/js/plugins/axios.js"></script>
    <title>Document</title>
</head>

<body>
    <script>
    const globalConfigs = {
        host: "{#ROUTE#}",
        hostApi: "{#ROUTE_API#}"
    }    
    </script>
    {include="formularioProjeto"}
    <div id="header" class="header" local={$local}>
        <header class="container">
            <div class="logo grid-1">
                <a href="{#ROUTE#}/">
                    {include="$logo"}
                </a>
            </div>
            <div class="buttonMenu grid-1">
                {include="menu"}
            </div>
        </header>
        <transition name="overlay">
            <div class="overlay" v-if="menuOpen" @click="menuOpen = false">
            </div>
        </transition>
        <transition name="header">
            <div class="menu extracontainer" v-if="menuOpen">
                <nav class="container">
                    <div class="logoAndClose">
                        <div class="logo">
                            <a href="{#ROUTE#}/">
                                {include="$logo"}
                            </a>
                        </div>
                        <div class="buttonMenu">
                            {include="close"}
                        </div>
                    </div>
                    <ul class="listLink">
                        <li :class="{active: local=='sobre'}">
                            <a href="{#ROUTE#}/sobre">Sobre</a>
                        </li>
                        <li :class="{active: local=='projetos'}">
                            <a href="{#ROUTE#}/projetos">Projetos</a>
                        </li>
                        <li :class="{active: local=='servicos'}">
                            <a href="{#ROUTE#}/servicos">Serviços</a>
                        </li>
                        <!--
                        <li :class="{active: local=='blog'}">
                            <a href="{#ROUTE#}/blog">Blog</a>
                        </li>
                        -->
                        <li :class="{active: local=='contato'}">
                            <a href="{#ROUTE#}/contato">Contato</a>
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="">
                                {include="facebook"}
                            </a>
                        </li>
                        <li>
                            <a href="">
                                {include="instagran"}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </transition>
    </div>
    <script src="{#ROUTE_WEBSITE#}/js/header.js"></script>