<div class="adm_menu adm_menu1">
    <p>Olá</p>
    <h1>Gustavo Carvalho</h1>
    <ul>
        <li>Páginas</li>
        <li>Mensagens</li>
    </ul>
    <p>Sair</p>
</div>
<div class="adm_menu adm_menu2">
    <h2>Páginas</h2>
    <ul>
        <li>Home</li>
        <li class="selected">Sobre</li>
        <li>Projetos</li>
        <li>Serviços</li>
        <li>Contato</li>
    </ul>
</div>
<div class="adm_menu adm_menu3">
    <h2>Sobre</h2>
    <ul>
        <li>Principal</li>
    </ul>
    <h2>Equipe</h2>
    <ul>
        <li class="selected">Gustavo Carvalho</li>
        <li>+ Novo Usuário</li>
    </ul>
</div>
<div class="adm_content">
    <h1>Equipe / Gustavo Carvalho</h1>
    <div>
        <p>Nome</p>
        <input type="text">
    </div>
    <div>
        <p>Sobre</p>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
        <p>Foto</p>
        <div class="img">
            <img src="https://prismacode.com/website/img/picture/banner1_1.png" alt="">
        </div>
    </div>
    <div>
        <p>Linkedin</p>
        <input type="text">
    </div>
    <div>
        <p>Github</p>
        <input type="text">
    </div>
    
    <button class="button1">Salvar</button>
</div>