<div class="adm_menu adm_menu1">
    <p>Olá</p>
    <h1>Gustavo Carvalho</h1>
    <ul>
        {loop="$mainMenu"}
            <li {if="$value.active"}class="selected"{/if}><a href="{$value.link}">{$value.name}</a></li>
        {/loop}
    </ul>
    <p>Sair</p>
</div>
<div class="adm_menu adm_menu2">
    <h2>Páginas</h2>
    <ul>
        {loop="$secondMenu"}
            <li {if="$value.active"}class="selected"{/if}><a href="{$value.link}">{$value.name}</a></li>
        {/loop}
    </ul>
</div>
<div class="adm_menu adm_menu3">
    <h2>Serviços</h2>
    <ul>
        {loop="$thirMenu"}
            <li {if="$value.active"}class="selected"{/if}><a href="{$value.link}">{$value.name}</a></li>
        {/loop}
    </ul>
</div>
<div class="adm_content">
    <h1>Serviços / Software</h1>
    <div>
        <p>O que fazemos</p>
        <textarea>{$content->GetContent('o que fazemos')}</textarea>
    </div>
    <div>
        <p>O projeto</p>
        <textarea>{$content->GetContent('o projeto')}</textarea>
    </div>
    
    
    <button class="button1">Salvar</button>
</div>