<div class="adm_menu adm_menu1">
    <p>Olá</p>
    <h1>Gustavo Carvalho</h1>
    <ul>
        {loop="$mainMenu"}
            <li {if="$value.active"}class="selected"{/if}><a href="{$value.link}">{$value.name}</a></li>
        {/loop}
    </ul>
    <p>Sair</p>
</div>
<div class="adm_menu adm_menu2">
    <h2>Páginas</h2>
    <ul>
        {loop="$secondMenu"}
            <li {if="$value.active"}class="selected"{/if}><a href="{$value.link}">{$value.name}</a></li>
        {/loop}
    </ul>
</div>
<div class="adm_menu adm_menu3">
    <h2>Serviços</h2>
    <ul>
        {loop="$thirMenu"}
            <li {if="$value.active"}class="selected"{/if}><a href="{$value.link}">{$value.name}</a></li>
        {/loop}
    </ul>
</div>
<div class="adm_content">
    <h1>Serviços / Processo de Criação</h1>
    <div>
        <p>Processos</p>
        <ul class="listTecnologias">
            {loop="$processos"}
            <li>
                <input type="text" id="title_{$value.id}" value="{$value.title}">
                <textarea id="text_{$value.id}">{$value.text}</textarea>
                <div>
                    <button onclick="Pagina.update({$value.id})">Salvar</button>
                    <button onclick="Pagina.delete({$value.id})">Deletar</button>
                </div>
            </li>
            {/loop}
            <li>
                <input type="text" id="title_new">
                <textarea id="text_new"></textarea>
                <div>
                    <button onclick="Pagina.adicionar()">Salvar</button>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="{#ROUTE_WEBSITE#}/js/adm/PaginaProcessos.js"></script>