<div class="adm_menu adm_menu1">
    <p>Olá</p>
    <h1>Gustavo Carvalho</h1>
    <ul>
        <li>Páginas</li>
        <li>Mensagens</li>
    </ul>
    <p>Sair</p>
</div>
<div class="adm_menu adm_menu2">
    <h2>Páginas</h2>
    <ul>
        <li>Home</li>
        <li>Sobre</li>
        <li>Projetos</li>
        <li class="selected">Serviços</li>
        <li>Contato</li>
    </ul>
</div>
<div class="adm_menu adm_menu3">
    <h2>Serviços</h2>
    <ul>
        <li>Principal</li>
        <li>Processo de Criação</li>
        <li class="selected">Website</li>
        <li>Software</li>
    </ul>
</div>
<div class="adm_content">
    <h1>Serviços / Principal</h1>
    <div>
        <p>O que fazemos</p>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
        <p>O projeto</p>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    
    
    <button class="button1">Salvar</button>
</div>