<div class="adm_menu adm_menu1">
    <p>Olá</p>
    <h1>Gustavo Carvalho</h1>
    <ul>
        <li>Páginas</li>
        <li class="selected">Mensagens</li>
    </ul>
    <p>Sair</p>
</div>
<div class="adm_menu adm_menu2">
    <h2>Mensagens</h2>
    <ul>
        <li>Mensagens</li>
        <li class="selected">Projeto</li>
    </ul>
</div>
<div class="adm_menu adm_menu3">
    <h2>Novas</h2>
    <ul>
        <li>[1] Gustavo</li>
        <li class="selected">[2] Teste</li>
    </ul>
    <h2>Lidas</h2>
    <ul>
        <li>[1] Gustavo</li>
        <li>[2] Teste</li>
    </ul>
</div>
<div class="adm_content">
    <h1>Novo projeto / [2] Teste</h1>
    <div>
        <p>Nome</p>
        <p class="inputCliente">Gustavo</p>
    </div>
    <div>
        <p>Email</p>
        <p class="inputCliente">gustavo1pix@gmail.com</p>
    </div>
    <div>
        <p>Telefone</p>
        <p class="inputCliente">11  94908-0043</p>
    </div>
    <div>
        <p>Empresa</p>
        <p class="inputCliente">Prismacode</p>
    </div>
    <div>
        <p>Tipo de serviço</p>
        <p class="inputCliente">Um site de apenas 1 página</p>
    </div>
    <div>
        <p>Enviado em</p>
        <p class="inputCliente">2020-02-26 16:09:16</p>
    </div>
    <div>
        <p>Lido em</p>
        <p class="inputCliente">2020-02-26 16:09:16</p>
    </div>
    <div>
        <p>Mensagem</p>
        <p class="textoCliente">Mensagem  de teste</p>
    </div>
    <div>
        <p>Enviado em</p>
        <button class="textButton">Download</button>
    </div>
    
    
    <button class="button1">Marcar como lida</button>
</div>