* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a, div, img, button, input {
  margin: 0;
  padding: 0;
  min-width: 1px;
  min-height: 1px;
  font-style: none;
  text-decoration: none;
  font-weight: normal;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 1050px;
  max-width: calc(100% - 200px);
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.container::before {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 899px) {
  .container {
    max-width: calc(100% - 50px);
  }
}

.extracontainer {
  margin: 0 auto;
  width: 1250px;
  max-width: 100%;
}

.extracontainer::after {
  content: '';
  display: table;
  clear: both;
}

.extracontainer::before {
  content: '';
  display: table;
  clear: both;
}

.grid-1 {
  width: calc( 50% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-1 .grid-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-2 {
  width: calc( 100% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-2 .grid-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  background: -webkit-gradient(linear, left top, left bottom, from(#171219), to(transparent));
  background: linear-gradient(180deg, #171219, transparent);
  top: 0;
}

.header header {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header header .logo svg, .header header .buttonMenu svg {
  cursor: pointer;
}

.header header .logo svg *, .header header .buttonMenu svg * {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.header header .logo svg:hover *, .header header .buttonMenu svg:hover * {
  fill: #E67015;
}

.header header .buttonMenu {
  text-align: right;
}

.header header .logo {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 50px;
}

.header header .logo a {
  display: block;
}

.header header .logo a svg {
  max-width: 100%;
}

.header header .buttonMenu {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  min-width: 50px;
}

.header .menu {
  background: #FFFAFF;
  position: fixed;
  top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 9999999999;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .menu .logoAndClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.header .menu .logo {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 50px;
}

.header .menu .logo a {
  display: block;
}

.header .menu .logo a svg {
  max-width: 100%;
  cursor: pointer;
}

.header .menu .logo a svg * {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  fill: #E67015;
}

.header .menu .buttonMenu {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  min-width: 50px;
}

.header .menu .buttonMenu svg {
  cursor: pointer;
}

.header .menu .buttonMenu svg * {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.header .menu .buttonMenu svg:hover * {
  fill: #E67015;
}

.header .menu .listLink {
  margin-bottom: 50px;
}

.header .menu .listLink li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 25px;
}

.header .menu .listLink li a {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  color: #171219;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu .listLink li a:after {
  content: '';
  display: inline-block;
  width: 0px;
  height: 3px;
  background: #E67015;
  margin-left: 10px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  margin-top: 10px;
}

.header .menu .listLink li a:hover {
  color: #E67015;
}

.header .menu .listLink li a:hover:after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 3px;
  background: #E67015;
  margin-left: 10px;
}

.header .menu .listLink .active a {
  color: #E67015;
}

.header .menu .listLink .active a:after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 3px;
  background: #E67015;
  margin-left: 10px;
}

.header .menu .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menu .social li {
  margin-left: 50px;
  margin-right: 50px;
}

.header .menu .social li a * {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.header .menu .social li a:hover * {
  fill: #E67015;
}

.header-enter-active,
.header-leave-active {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.header-enter,
.header-leave-to {
  top: -1000px !important;
}

.formNewProject {
  background: #FFFAFF;
  position: fixed;
  top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 9999999999;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow-y: scroll;
  max-height: 100vh;
  min-height: 100vh;
}

.formNewProject .logoAndClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.formNewProject .logoAndClose > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.formNewProject .logo svg {
  cursor: pointer;
}

.formNewProject .logo svg * {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  fill: #E67015;
}

.formNewProject .buttonMenu {
  text-align: right;
}

.formNewProject .buttonMenu svg {
  cursor: pointer;
}

.formNewProject .buttonMenu svg * {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.formNewProject .buttonMenu svg:hover * {
  fill: #E67015;
}

.formNewProject h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #171219;
}

.formNewProject h4 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #171219;
  margin-bottom: 75px;
}

.formNewProject form {
  position: relative;
}

.formNewProject form label {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  color: #E67015;
}

.formNewProject form input, .formNewProject form textarea, .formNewProject form select, .formNewProject form .input {
  border: none;
  width: 100%;
  background: none;
  padding: 25px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #171219;
  border-bottom: 4px solid #E67015;
  margin-bottom: 50px;
}

.formNewProject form input:focus, .formNewProject form textarea:focus, .formNewProject form select:focus, .formNewProject form .input:focus {
  outline: none;
}

.formNewProject form input::-webkit-input-placeholder, .formNewProject form textarea::-webkit-input-placeholder, .formNewProject form select::-webkit-input-placeholder, .formNewProject form .input::-webkit-input-placeholder {
  color: #D1CDD1;
}

.formNewProject form input:-ms-input-placeholder, .formNewProject form textarea:-ms-input-placeholder, .formNewProject form select:-ms-input-placeholder, .formNewProject form .input:-ms-input-placeholder {
  color: #D1CDD1;
}

.formNewProject form input::-ms-input-placeholder, .formNewProject form textarea::-ms-input-placeholder, .formNewProject form select::-ms-input-placeholder, .formNewProject form .input::-ms-input-placeholder {
  color: #D1CDD1;
}

.formNewProject form input::placeholder, .formNewProject form textarea::placeholder, .formNewProject form select::placeholder, .formNewProject form .input::placeholder {
  color: #D1CDD1;
}

.formNewProject form textarea {
  margin-top: 25px;
  border: 4px solid #E67015;
  height: 250px;
  resize: none;
}

.formNewProject form select, .formNewProject form .input {
  margin-top: 25px;
  border: 4px solid #E67015;
}

.formNewProject form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #D1CDD1;
  margin-bottom: 10px;
}

.formNewProject form .input svg * {
  color: #E67015;
}

.formNewProject form > p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #D1CDD1;
  margin-left: 25px;
  margin-bottom: 100px;
}

.formNewProject form > div {
  margin-bottom: 25px;
  text-align: right;
}

.formNewProject form > div p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #F83434;
}

.formNewProject button {
  color: #E67015;
  margin-right: 0;
  display: table;
  margin: 0 auto;
  margin-right: 0;
  margin-bottom: 50px;
}

.formNewProject button:hover {
  color: #FFFAFF;
}

.formNewProject .grid-1 {
  position: relative;
  left: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(23, 18, 25, 0.8);
  z-index: 99999;
}

.newProject-enter-active,
.newProject-leave-active {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.newProject-enter {
  left: -25px !important;
  opacity: 0;
}

.newProject-leave-to {
  left: 25px !important;
  opacity: 0;
}

.overlay-enter-active,
.overlay-leave-active {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.overlay-enter {
  opacity: 0;
}

.overlay-leave-to {
  opacity: 0;
}

.banner1 .extracontainer {
  background: url("https://prismacode.com/website/img/picture/banner1_1.png");
}

.banner1 .extracontainer .container {
  padding-top: 500px;
}

.banner1 .extracontainer .container h1 {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  color: #FFFAFF;
}

.banner1 .extracontainer .container h1:after {
  content: '';
  width: 4px;
  margin-top: 50px;
  height: 500px;
  background: #E67015;
  display: block;
}

@media screen and (max-width: 899px) {
  .banner1 .extracontainer .container h1:after {
    max-width: calc(100% - 50px);
  }
}

.banner1 .extracontainer .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  color: #E8DAB2;
  text-align: right;
}

.contato {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contato button {
  display: table;
  margin: 0 auto;
}

.contato .extracontainer {
  background: #FFFAFF;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contato .extracontainer .container > div::after {
  content: '';
  display: table;
  clear: both;
}

.contato .extracontainer .container > div::before {
  content: '';
  display: table;
  clear: both;
}

.contato .extracontainer .container .titulos h3:before {
  content: '';
  width: 4px;
  margin-bottom: 50px;
  height: 500px;
  background: #E67015;
  display: block;
}

.contato .extracontainer .container .titulos p {
  margin-top: 550px;
}

.contato .extracontainer .container h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  margin-bottom: 100px;
}

.contato .extracontainer .container p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
}

.contato .extracontainer .container .orange {
  color: #E67015;
}

.contato .extracontainer .container form {
  margin-top: 75px;
}

.contato .extracontainer .container form label {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  color: #E67015;
}

.contato .extracontainer .container form input, .contato .extracontainer .container form textarea {
  border: none;
  width: 100%;
  background: none;
  padding: 25px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #171219;
  border-bottom: 4px solid #E67015;
  margin-bottom: 50px;
}

.contato .extracontainer .container form input:focus, .contato .extracontainer .container form textarea:focus {
  outline: none;
}

.contato .extracontainer .container form input::-webkit-input-placeholder, .contato .extracontainer .container form textarea::-webkit-input-placeholder {
  color: #D1CDD1;
}

.contato .extracontainer .container form input:-ms-input-placeholder, .contato .extracontainer .container form textarea:-ms-input-placeholder {
  color: #D1CDD1;
}

.contato .extracontainer .container form input::-ms-input-placeholder, .contato .extracontainer .container form textarea::-ms-input-placeholder {
  color: #D1CDD1;
}

.contato .extracontainer .container form input::placeholder, .contato .extracontainer .container form textarea::placeholder {
  color: #D1CDD1;
}

.contato .extracontainer .container form textarea {
  margin-top: 25px;
  border: 4px solid #E67015;
  height: 250px;
  resize: none;
}

.contato .extracontainer .container form > div {
  margin-bottom: 25px;
  text-align: right;
}

.contato .extracontainer .container form > div p {
  margin-top: 0 !important;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #F83434;
}

.contato .extracontainer .container form button {
  color: #E67015;
  margin-right: 0;
}

.contato .extracontainer .container form button:hover {
  color: #FFFAFF;
}

.newsletter .extracontainer {
  background: #FFFAFF;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.newsletter .extracontainer .container > div::after {
  content: '';
  display: table;
  clear: both;
}

.newsletter .extracontainer .container > div::before {
  content: '';
  display: table;
  clear: both;
}

.newsletter .extracontainer .container .titulos h3:before {
  content: '';
  width: 4px;
  margin-bottom: 50px;
  height: 500px;
  background: #E67015;
  display: block;
}

.newsletter .extracontainer .container .titulos p {
  margin-top: 550px;
}

.newsletter .extracontainer .container h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  margin-bottom: 100px;
}

.newsletter .extracontainer .container p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
}

.newsletter .extracontainer .input > div {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 4px solid #E67015;
  border-top: 4px solid #E67015;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.newsletter .extracontainer .input > div input {
  border: none;
  width: 100%;
  background: none;
  padding: 25px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #171219;
}

.newsletter .extracontainer .input > div input:focus {
  outline: none;
}

.newsletter .extracontainer .input > div input::-webkit-input-placeholder {
  color: #D1CDD1;
}

.newsletter .extracontainer .input > div input:-ms-input-placeholder {
  color: #D1CDD1;
}

.newsletter .extracontainer .input > div input::-ms-input-placeholder {
  color: #D1CDD1;
}

.newsletter .extracontainer .input > div input::placeholder {
  color: #D1CDD1;
}

.newsletter .extracontainer .input > div .img {
  padding-right: 25px;
  cursor: pointer;
}

.newsletter .extracontainer .input > div .img * {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  stroke: #E67015;
}

.newsletter .extracontainer .input > div .img:hover * {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.newsletter .extracontainer .input > div:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.newsletter .extracontainer .input > div span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.newsletter .extracontainer .active > div {
  color: #FFFAFF;
}

.newsletter .extracontainer .active > div:before {
  width: 100%;
}

.iconList {
  padding-top: 80px;
  padding-bottom: 80px;
}

.iconList .iconText {
  text-align: center;
  font-size: 22px;
  color: #D1CDD1;
  font-family: 'Work Sans', sans-serif;
  position: relative;
  padding: 25px;
}

.iconList .iconText .img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.iconList .iconText .img svg {
  width: 50px;
  height: 50px;
}

.listVagasHome {
  background: #E8DAB2;
  padding-top: 80px;
  padding-bottom: 80px;
}

.listVagasHome h2 {
  font-size: 28px;
  color: #E67015;
  font-family: 'Work Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.listVagasHome .container > ul {
  margin-bottom: 40px;
}

.listVagasHome .container > ul::after {
  content: '';
  display: table;
  clear: both;
}

.listVagasHome .container > ul::before {
  content: '';
  display: table;
  clear: both;
}

.listVagasHome .container .button2 {
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #E67015;
  -webkit-transition: 0.5 ease;
  transition: 0.5 ease;
}

.listVagasHome .container .button2:hover {
  color: #E67015;
}

.listVagasHome .vaga {
  padding: 40px;
  background: #FFFAFF;
}

.listVagasHome .vaga > .img {
  max-width: 200px;
  max-height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.listVagasHome .vaga > .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.listVagasHome .vaga h3 {
  text-align: center;
  font-size: 28px;
  color: #E67015;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 40px;
}

.listVagasHome .vaga ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.listVagasHome .vaga ul li .img {
  width: 20px;
  margin-right: 25px;
}

.listVagasHome .vaga ul li .img svg {
  width: 100%;
  color: #D1CDD1;
}

.listVagasHome .vaga ul li p {
  font-size: 18px;
  color: #D1CDD1;
  font-family: 'Hind', sans-serif;
}

.tituloFrase1 .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tituloFrase1 .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #FFFAFF;
}

.tituloFrase1 .container p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  color: #FFFAFF;
  line-height: 1.8;
}

.tituloFrase2 .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tituloFrase2 .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #E8DAB2;
}

.tituloFrase2 .container h2:before {
  content: '';
  width: 200px;
  height: 4px;
  margin-right: 50px;
  display: inline-block;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.tituloFrase2 .container p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #E8DAB2;
  line-height: 1.8;
}

.tituloFrase2 .container .img {
  margin-top: 50px;
  width: 100%;
}

.tituloFrase2 .container .img img {
  width: 100%;
  height: 100%;
}

.tituloFrase2 .container .imgInicio {
  margin-bottom: 50px;
  width: 100%;
}

.tituloFrase2 .container .imgInicio img {
  width: 100%;
  height: 100%;
}

.listProjects {
  padding-bottom: 100px;
}

.listProjects h2 {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  color: #FFFAFF;
  margin-bottom: 75px;
}

.listProjects ul::after {
  content: '';
  display: table;
  clear: both;
}

.listProjects ul::before {
  content: '';
  display: table;
  clear: both;
}

.listProjects ul li {
  margin-bottom: 100px;
}

.listProjects ul li a h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #E8DAB2;
  margin-bottom: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.listProjects ul li a h3:before {
  content: '';
  width: 200px;
  height: 4px;
  margin-right: 50px;
  display: inline-block;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.listProjects ul li a .img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.listProjects ul li a .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.listProjects ul li:hover a h3 {
  color: #E67015;
}

.listProjects ul li:hover a h3:before {
  width: 225px;
  margin-right: 25px;
}

.listProjects ul li:hover a .img img {
  width: 110%;
  height: 110%;
}

.listProjects .button1 {
  margin: 0 auto;
  display: table;
  font-size: 16px;
  color: #E8DAB2;
}

.listBlogs {
  padding-bottom: 100px;
  padding-top: 100px;
}

.listBlogs h2 {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  color: #FFFAFF;
  margin-bottom: 75px;
}

.listBlogs ul::after {
  content: '';
  display: table;
  clear: both;
}

.listBlogs ul::before {
  content: '';
  display: table;
  clear: both;
}

.listBlogs ul li {
  margin-bottom: 100px;
}

.listBlogs ul li a h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #E8DAB2;
  margin-bottom: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.listBlogs ul li a h3:before {
  content: '';
  width: 200px;
  height: 4px;
  margin-right: 50px;
  display: inline-block;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.listBlogs ul li a .img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.listBlogs ul li a .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.listBlogs ul li:hover a h3 {
  color: #E67015;
}

.listBlogs ul li:hover a h3:before {
  width: 225px;
  margin-right: 25px;
}

.listBlogs ul li:hover a .img img {
  width: 110%;
  height: 110%;
}

.listBlogs .button1 {
  margin: 0 auto;
  display: table;
  font-size: 16px;
  color: #E8DAB2;
}

.solucoes {
  padding-bottom: 100px;
}

.solucoes .extracontainer {
  background: #FFFAFF;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.solucoes .extracontainer .container:before {
  content: '';
  width: 4px;
  margin-bottom: 50px;
  height: 500px;
  background: #E67015;
  display: block;
}

.solucoes .extracontainer .container h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
}

.solucoes .extracontainer .container p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  margin-bottom: 100px;
}

.solucoes .extracontainer .container .listSolucao ul {
  border-top: 4px solid #E67015;
}

.solucoes .extracontainer .container .listSolucao ul li {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 4px solid #E67015;
  position: relative;
  cursor: pointer;
}

.solucoes .extracontainer .container .listSolucao ul li a {
  color: #171219;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}

.solucoes .extracontainer .container .listSolucao ul li:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.solucoes .extracontainer .container .listSolucao ul li:hover a {
  margin-left: 25px;
  color: #FFFAFF;
}

.solucoes .extracontainer .container .listSolucao ul li:hover:before {
  width: 100%;
}

.solucoes .extracontainer .container .listAllProjects ul::after {
  content: '';
  display: table;
  clear: both;
}

.solucoes .extracontainer .container .listAllProjects ul::before {
  content: '';
  display: table;
  clear: both;
}

.solucoes .extracontainer .container .listAllProjects ul li {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  border-bottom: 4px solid #E67015;
  position: relative;
  cursor: pointer;
}

.solucoes .extracontainer .container .listAllProjects ul li a {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #171219;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
  display: block;
}

.solucoes .extracontainer .container .listAllProjects ul li:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.solucoes .extracontainer .container .listAllProjects ul li:hover a {
  margin-left: 25px;
  color: #FFFAFF;
}

.solucoes .extracontainer .container .listAllProjects ul li:hover:before {
  width: 100%;
}

.solucoes .extracontainer .container .listAllProjects ul li:nth-child(1) {
  border-top: 4px solid #E67015;
}

.solucoes .extracontainer .container .listAllProjects ul li:nth-child(2) {
  border-top: 4px solid #E67015;
}

.solucoes .extracontainer .container h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Space Mono", monospace;
  font-size: 35px;
}

.solucoes .extracontainer .container .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.solucoes .extracontainer .container .logos li {
  margin-right: 50px;
  margin-left: 50px;
}

.solucoes .extracontainer .container .logos li * {
  fill: #D1CDD1;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.solucoes .extracontainer .container .logos li:hover * {
  fill: #E67015;
}

.solucoes .button1 {
  margin: 0 auto;
  display: table;
  font-size: 16px;
  color: #E8DAB2;
}

.footer1 .extracontainer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #FFFAFF;
}

.footer1 .extracontainer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 75px;
}

.footer1 .extracontainer .socialMedia li {
  cursor: pointer;
}

.footer1 .extracontainer .socialMedia li * {
  fill: #D1CDD1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer1 .extracontainer .socialMedia li:hover * {
  fill: #E67015;
}

.footer1 .extracontainer p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  display: table;
  margin: 0 auto;
  color: #D1CDD1;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

.footer1 .extracontainer p:hover {
  color: #E67015;
}

.equipe {
  margin-bottom: 100px;
}

.equipe .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  color: #FFFAFF;
  margin-bottom: 75px;
}

.equipe .container .img {
  height: 725px;
  overflow: hidden;
  position: relative;
}

.equipe .container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.equipe .container .img p {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  color: #FFFAFF;
  top: 100px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.equipe .container .infos {
  height: 725px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.equipe .container .infos p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  color: #E8DAB2;
  margin-top: 100px;
  line-height: 1.8;
}

.equipe .container .infos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.equipe .container .infos ul li {
  margin-right: 100px;
  width: 50px;
  cursor: pointer;
}

.equipe .container .infos ul li * {
  fill: #E8DAB2;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.equipe .container .infos ul li:hover * {
  fill: #E67015;
}

.processos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.processos .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  color: #FFFAFF;
  margin-bottom: 100px;
}

.processos .container > div {
  margin-bottom: 100px;
}

.processos .container > div .cabecalho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.processos .container > div .cabecalho .number {
  font-family: "Lato", sans-serif;
  font-size: 120px;
  color: #D1CDD1;
  position: relative;
  width: 200px;
  text-align: right;
}

.processos .container > div .cabecalho .number:after {
  content: '';
  width: 200px;
  height: 4px;
  background: #E67015;
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
}

.processos .container > div .cabecalho .titulo {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #E8DAB2;
  margin-left: 50px;
}

.processos .container > div .resumo p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #E8DAB2;
  line-height: 1.8;
}

.bannerPricipalPortifa {
  margin-bottom: 100px;
}

.bannerPricipalPortifa .container > a {
  display: table;
  margin: 0 auto;
  margin-bottom: 100px;
}

.bannerPricipalPortifa .container .img {
  height: 500px;
}

.bannerPricipalPortifa .container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featuresPortifa {
  margin-bottom: 100px;
}

.featuresPortifa .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #E8DAB2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuresPortifa .container h2:before {
  content: '';
  width: 200px;
  height: 4px;
  margin-right: 50px;
  display: inline-block;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.featuresPortifa .container p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 100px;
  color: #E8DAB2;
}

.featuresPortifa .container .img {
  height: 500px;
}

.featuresPortifa .container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.solucaoPortifa .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #E8DAB2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solucaoPortifa .container h2:before {
  content: '';
  width: 200px;
  height: 4px;
  margin-right: 50px;
  display: inline-block;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.solucaoPortifa .container p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 100px;
  color: #E8DAB2;
}

.solucaoPortifa .container .imgGrande {
  height: 550px;
}

.solucaoPortifa .container .imgGrande img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.solucaoPortifa .container .imgPequena {
  margin-bottom: 100px;
}

.solucaoPortifa .container .imgPequena .img {
  height: 250px;
}

.solucaoPortifa .container .imgPequena .img:first-child {
  margin-bottom: 50px;
}

.solucaoPortifa .container .imgPequena .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.depoimentoPortifa {
  padding-bottom: 100px;
}

.depoimentoPortifa .extracontainer {
  background: #FFFAFF;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.depoimentoPortifa .extracontainer .container:before {
  content: '';
  width: 4px;
  margin-bottom: 50px;
  height: 500px;
  background: #E67015;
  display: block;
}

.depoimentoPortifa .extracontainer .container h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
}

.depoimentoPortifa .extracontainer .container p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  margin-bottom: 25px;
}

.depoimentoPortifa .extracontainer .container span {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 100px;
  text-align: right;
  width: 100%;
  display: block;
}

.depoimentoPortifa .extracontainer .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  margin-bottom: 100px;
}

.depoimentoPortifa .extracontainer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.depoimentoPortifa .extracontainer .container ul li {
  margin-right: 50px;
  margin-left: 50px;
  height: 50px;
  width: 50px;
}

.depoimentoPortifa .extracontainer .container ul li * {
  fill: #D1CDD1;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.depoimentoPortifa .button1 {
  margin: 0 auto;
  display: table;
  font-size: 16px;
  color: #E8DAB2;
}

.servicosOferecidos {
  padding-bottom: 100px;
}

.servicosOferecidos .extracontainer {
  background: #FFFAFF;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.servicosOferecidos .extracontainer .container > div::after {
  content: '';
  display: table;
  clear: both;
}

.servicosOferecidos .extracontainer .container > div::before {
  content: '';
  display: table;
  clear: both;
}

.servicosOferecidos .extracontainer .container .titulos h3:before {
  content: '';
  width: 4px;
  margin-bottom: 50px;
  height: 500px;
  background: #E67015;
  display: block;
}

.servicosOferecidos .extracontainer .container .titulos p {
  margin-top: 550px;
}

.servicosOferecidos .extracontainer .container h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  margin-bottom: 100px;
}

.servicosOferecidos .extracontainer .container p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul {
  margin-bottom: 100px;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul::after {
  content: '';
  display: table;
  clear: both;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul::before {
  content: '';
  display: table;
  clear: both;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul li {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  border-bottom: 4px solid #E67015;
  position: relative;
  cursor: pointer;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #171219;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul li span {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul li:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #E67015;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul li:hover {
  color: #FFFAFF;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul li:hover span {
  margin-left: 25px;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul li:hover:before {
  width: 100%;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul li:nth-child(1) {
  border-top: 4px solid #E67015;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul li:nth-child(2) {
  border-top: 4px solid #E67015;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul .active {
  color: #FFFAFF;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul .active span {
  margin-left: 25px;
}

.servicosOferecidos .extracontainer .container .listAllProjects ul .active:before {
  width: 100%;
}

.servicosOferecidos .extracontainer .container .sectionService h2 {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  margin-bottom: 100px;
}

.servicosOferecidos .extracontainer .container .sectionService > div {
  margin-bottom: 100px;
}

.servicosOferecidos .extracontainer .container .sectionService > div::after {
  content: '';
  display: table;
  clear: both;
}

.servicosOferecidos .extracontainer .container .sectionService > div::before {
  content: '';
  display: table;
  clear: both;
}

.servicosOferecidos .extracontainer .container .sectionService > div h3 {
  margin-bottom: 0;
}

.servicosOferecidos .extracontainer .container .sectionService > div h3:before {
  content: '';
  width: 200px;
  height: 4px;
  margin-right: 50px;
  display: inline-block;
  background: #E67015;
}

.servicosOferecidos .button1 {
  margin: 0 auto;
  display: table;
  font-size: 16px;
  color: #E8DAB2;
}

.termos {
  margin-bottom: 100px;
}

.termos button {
  display: table;
  margin: 0 auto;
}

.termos .extracontainer {
  background: #FFFAFF;
  padding-bottom: 100px;
  padding-top: 200px;
  margin-bottom: 100px;
}

.termos .extracontainer .container > div::after {
  content: '';
  display: table;
  clear: both;
}

.termos .extracontainer .container > div::before {
  content: '';
  display: table;
  clear: both;
}

.termos .extracontainer .container h2 {
  font-family: "Space Mono", monospace;
  font-size: 35px;
  margin-bottom: 100px;
}

.termos .extracontainer .container h3 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  margin-bottom: 100px;
}

.termos .extracontainer .container p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.termos .extracontainer .container .orange {
  color: #E67015;
}

.termos .extracontainer .container .bold {
  font-weight: bold;
}

.termos .extracontainer .container ul li {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.termos .extracontainer .container ul li::before {
  content: '';
  display: block;
  width: 10px;
  min-width: 10px;
  height: 2px;
  background: #171219;
  margin-right: 10px;
  margin-top: 8px;
}

.termos .extracontainer .container .section {
  margin-bottom: 100px;
}

.termos .extracontainer .container .section .grid-1 h3 {
  margin-bottom: 0;
}

.termos .extracontainer .container .section .grid-1 p, .termos .extracontainer .container .section .grid-1 ul {
  margin-bottom: 25px;
}

.termos .extracontainer .container .section .grid-1 p:last-child, .termos .extracontainer .container .section .grid-1 ul:last-child {
  margin-bottom: 0;
}

.termos .extracontainer .container .section .grid-1 .bold {
  padding-top: 25px;
}

.termos .extracontainer .container .section .grid-1 .bold:first-child {
  padding-top: 0;
}

.mainAdm {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFAFF;
}

.mainAdm > div {
  padding: 50px 75px 50px 50px;
}

.adm_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adm_menu > p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #E8DAB2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  white-space: nowrap;
  cursor: pointer;
}

.adm_menu > p:hover {
  color: #E67015;
}

.adm_menu h1, .adm_menu h2 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #E67015;
  margin-top: 5px;
  margin-bottom: 50px;
  white-space: nowrap;
}

.adm_menu h2 {
  margin-top: 21px;
}

.adm_menu ul {
  height: 100%;
}

.adm_menu ul li {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #E8DAB2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 12.5px 0;
  cursor: pointer;
  white-space: nowrap;
}

.adm_menu ul li:hover {
  color: #E67015;
}

.adm_menu ul .selected {
  color: #E67015;
}

.adm_menu1 {
  background: #262227;
}

.adm_menu2 {
  background: #1D1B1F;
}

.adm_menu2 ul {
  height: auto;
  margin-bottom: 50px;
}

.adm_menu3 {
  background: #131214;
}

.adm_menu3 ul {
  height: auto;
  margin-bottom: 50px;
}

.adm_content {
  overflow-y: scroll;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.adm_content h1 {
  font-family: "Space Mono", monospace;
  font-size: 21px;
  color: #E67015;
  margin-top: 21px;
  margin-bottom: 50px;
}

.adm_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

.adm_content div p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #262227;
  width: 150px;
}

.adm_content div input, .adm_content div textarea {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #262227;
  border: none;
  background: none;
  resize: none;
  width: 500px;
}

.adm_content div textarea {
  height: 250px;
}

.adm_content div .img {
  width: 450px;
  height: 650px;
}

.adm_content div .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adm_content div .listTecnologias li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.adm_content div .listTecnologias li input {
  font-family: "Space Mono", monospace;
}

.adm_content div .listTecnologias li button {
  border: none;
  background: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #E67015;
  cursor: pointer;
}

.adm_content div .listImages {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.adm_content div .listImages::after {
  content: '';
  display: table;
  clear: both;
}

.adm_content div .listImages::before {
  content: '';
  display: table;
  clear: both;
}

.adm_content div .listImages li {
  float: left;
  width: 200px;
  height: 150px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.adm_content div .listImages li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adm_content div .inputCliente {
  width: 500px;
  font-family: "Space Mono", monospace;
}

.adm_content div .textoCliente {
  width: 500px;
  height: 250px;
  font-family: "Space Mono", monospace;
  overflow-y: scroll;
}

.adm_content div .textButton {
  border: none;
  background: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #E67015;
  cursor: pointer;
}

.adm_content .button1 {
  color: #262227;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-corner {
  background-color: rgba(133, 144, 151, 0);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E67015;
}

.button1 {
  z-index: 2;
  font-size: 16px;
  color: #FFFAFF;
  font-family: 'Hind', sans-serif;
  position: relative;
  padding: 25px 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  background: none;
  border: none;
}

.button1:hover {
  color: #FFFAFF;
}

.button1:hover:after {
  height: 100%;
  top: 0;
  z-index: -1;
}

.button1:after {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: calc(100%);
  height: 2px;
  content: '';
  background: #E67015;
  display: block;
  position: absolute;
  top: 66px;
  left: 0;
}

.button1:focus {
  outline: none;
}

.button2 {
  z-index: 2;
  font-size: 16px;
  color: #FFFAFF;
  font-family: 'Hind', sans-serif;
  position: relative;
  padding: 20px 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  background: none;
  border: none;
}

.button2:hover {
  color: #E67015;
}

.button2:hover:after {
  height: 100%;
  top: 0;
  z-index: -1;
}

.button2:after {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: calc(100%);
  height: 2px;
  content: '';
  background: #E67015;
  display: block;
  position: absolute;
  top: 64px;
  left: 0;
}

body {
  background: #171219;
  color: #171219;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */